*{
    margin: 0;
    padding:0;
    font-family:'josefin Sans', sans-serif;
}
section{
    display: flex;
    position:absolute;
    z-index:4;
}
/* Section1*/
.section1{
    width:27vw;
    margin-right:2%;
    margin-left:5%;
}
.logo{
    width:10vw;
    height:3%;
}
.navigation{
    margin-top:6vh;
    width:100%;
    height:9vh;
    background-color:#19e5e5;
    border-radius:6px;
    display:flex;
    align-items:center;
}
.toggle{
    height: 8vh;
    width:2vw;
    margin-left:center;
    padding-left:10px;
}
.cgr{
    margin-left:3%;
}
.submenu{
    background-color:#ececfa;
    display: block;
    padding:4% 4%;
    border-bottom: 1px solid #a7a7ad;
    padding:4%;
}
.submenu:hover{
    cursor:pointer;
    background-color:#ffffff;
    text-decoration:none;
}

.section1 .para1{
    padding:4% 4%;
    background-color:#ececfa;
    margin-top:10%;
    margin-bottom:2%;
    
   
}
.section1 .special fieldset{
    background-color:#ececfa;
    border: 1px solid #afafaf;
    margin-top:10px;
    height:23vh;
}
.section1 .special .img1{
    width:5vw;
    height:17vh;
    padding-top:7%;
    padding-left:3%;
}
.section1 .special .div1{
    display: inline-block;
    margin-left:5%;
}
.section1 .special .div2{
    position:absolute;
    display:inline-block;
    margin-left:1%;
    width:10%;
    height:15%;

}
.special h3{
    margin-bottom:2%;
    margin-top:7%;
    color:#04bfbf;
}
.special strike{
    font-size:1vw;
    padding-top:4%;
}

.section1 .special fieldset:nth-child(2) .img{
    height:18vh;
    width:6vw;
    padding-left:3%;
}
.section1 .special fieldset:nth-child(3) .img1{
    height:18vh;
    width:9vw;
    padding-left:3%;
}
.section1 .special fieldset:nth-child(4) .img1{
    height:12vh;
    width:5vw;
}
.background{
    position:absolute;
    right:0; left:0; bottom:0;top:0;
    z-index:2;
    width:100vw;
    height:30vh;
    background-color:#ececfa;
}
/*Section2 */
.section2{
    width:68vw;
    display:inline-block;
}
.txtsrch{
    margin-left:18%;
    margin-top:5%;
    width:23vw;
    height:5vh;
    border:1px ride #d5d5e6;
}
.txtsrch[placeholder]{
    padding-left:1%;

}
.btnsrch{
    width:5vw;
    height:5vh;
    background-color:#19e5e5;
    border:opx;
}
.call-icon{
    height:4.5vh;
    margin-left:12%;
}
.tel-no{
    font-size:1.5vw;
    font-family:fantasy;
}
nav{
    margin-top:8vh;
    width:100%;
    height:1.5%;
    background-color:white;
    border-radius:6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuitem{
    margin-top:1vh ;
    padding:3% 3% 3% 3%;
    text-decoration:none;
    background-color: black;
    color:white;
    font-family:'lobster Two';
    font-size: 1.5vw;
    box-shadow: 10px 15px 50px black;
}
.menuitem:hover{
    background-color:#1d9550;
    box-shadow: none;
}


/*-- Contact--*/
.contact-box-main{
    padding: 70px 0px;
}
.contact-info-left{
    padding: 20px;
    background: url(../images/contact-bg.jpg) no-repeat center;
    background-size: cover;
}
.contact-info-left h2{
    font-size: 22px;
    font-weight: 700;
}
.contact-info-left p{
    margin-top:15px;
    margin-bottom: 15px;
}
.contact-info-left ul li{
    margin-bottom: 12px;
}
.contact-info-left ul li p{
    font-size: 16px;
    color: #222222;
    font-weight: 300;
    padding-right: 16px;
    padding-left: 25px;
    line-height: 24px;
    position: relative;
}
.contact-info-left ul li p i{
    position: absolute;
    left: 0;
    top: 5px;
    padding-right: 6px;
    color: #b0b435;
}
.contact-info-left ul li p a:hover{
    color: #b0b435;
}
.contact-form-right{
    padding: 20px;
}
.contact-form-right h2{
    font-size: 24px;
    font-weight: 700;
}
.contact-form-right p{
    margin-top:15px;
    margin-bottom: 15px;
}
.contact-form-right .form-group .form-control::-moz-placeholder{
    color: #999999;
}
.contact-form-right .form-group .form-control{
    border-radius: 0px;
    min-height: 40px;
    width:50%;
}
.contact-form-right .form-group {
    margin-bottom: 30px;
    position: relative;
    
   
}
.contact-form-right .form-group .form-control:focus{
    border: 1px solid #b0b435;
    box-shadow: none;
}
.submit-button button{
    padding: 10px 20px;
    font-weight: 700;
    color:  #b0b435;
    border: none;
}
.submit-button button:hover{
    background-color:rgb(2, 104, 151);
    border: 1px solid black;
}

/* Footer */
.footer{
    bottom:0px;
    width:100vw;
    height:30vh;
    padding-top:100%;
   
}
.footer .outer{
    background-color:#ececfa;
    width:100vw;
    height:
    40vh;
    display:flex;
    align-items:center;
}
.footer .inner{
    width:20%;
    height:50%;
    display:inline-block;
    margin-left:8%;
    border-right:1px solid #afafaf;
}
.footer .inner2{
    width:20%;
    height:50%;
    display: inline-block;
    margin-left:3%;
    border-right:1px solid #afafaf;
}
.footer a{
    display:block;
    padding:2%;
    color:#04bfbf;
}
.footer .copyright{
    background-color:#ececfa;

}
.footer .copyright span{
    margin-left:8vw;
}