*{
    margin: 0;
    padding:0;
    font-family:'josefin Sans', sans-serif;
}
section{
    display: flex;
    position:absolute;
    z-index:4;
}
/* Section1*/
.section1{
    width:27vw;
    margin-right:2%;
    margin-left:5%;
}
.logo{
    width:10vw;
    height:3%;
}
.navigation{
    margin-top:6vh;
    width:100%;
    height:9vh;
    background-color:#19e5e5;
    border-radius:6px;
    display:flex;
    align-items:center;
}
.toggle{
    height: 8vh;
    width:2vw;
    margin-left:center;
    padding-left:10px;
}
.cgr{
    margin-left:3%;
}
.submenu{
    background-color:#ececfa;
    display: block;
    padding:4% 4%;
    border-bottom: 1px solid #a7a7ad;
    padding:4%;
}
.submenu:hover{
    cursor:pointer;
    background-color:#ffffff;
    text-decoration:none;
}

.section1 .para1{
    padding:4% 4%;
    background-color:#ececfa;
    margin-top:10%;
    margin-bottom:2%;
    
   
}
.section1 .special fieldset{
    background-color:#ececfa;
    border: 1px solid #afafaf;
    margin-top:10px;
    height:23vh;
}
.section1 .special .img1{
    width:5vw;
    height:17vh;
    padding-top:7%;
    padding-left:3%;
}
.section1 .special .div1{
    display: inline-block;
    margin-left:5%;
}
.section1 .special .div2{
    position:absolute;
    display:inline-block;
    margin-left:1%;
    width:10%;
    height:15%;

}
.special h3{
    margin-bottom:2%;
    margin-top:7%;
    color:#04bfbf;
}
.special strike{
    font-size:1vw;
    padding-top:4%;
}

.section1 .special fieldset:nth-child(2) .img{
    height:18vh;
    width:6vw;
    padding-left:3%;
}
.section1 .special fieldset:nth-child(3) .img1{
    height:18vh;
    width:9vw;
    padding-left:3%;
}
.section1 .special fieldset:nth-child(4) .img1{
    height:12vh;
    width:5vw;
}
.background{
    position:absolute;
    right:0; left:0; bottom:0;top:0;
    z-index:2;
    width:100vw;
    height:30vh;
    background-color:#ececfa;
}
/*Section2 */
.section2{
    width:68vw;
    display:inline-block;
}
.txtsrch{
    margin-left:18%;
    margin-top:5%;
    width:23vw;
    height:5vh;
    border:1px ride #d5d5e6;
}
.txtsrch[placeholder]{
    padding-left:1%;

}
.btnsrch{
    width:5vw;
    height:5vh;
    background-color:#19e5e5;
    border:opx;
}
.call-icon{
    height:4.5vh;
    margin-left:12%;
}
.tel-no{
    font-size:1.5vw;
    font-family:fantasy;
}
nav{
    margin-top:8vh;
    width:100%;
    height:1.5%;
    background-color:white;
    border-radius:6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuitem{
    margin-top:1vh ;
    padding:3% 3% 3% 3%;
    text-decoration:none;
    background-color: black;
    color:white;
    font-family:'lobster Two';
    font-size: 1.5vw;
    box-shadow: 10px 15px 50px black;
}
.menuitem:hover{
    background-color:#1d9550;
    box-shadow: none;
}
.slider{
    background-color:#ececfa;
    width:68vw;
    height:38vh;
    margin-top: 7%;
    overflow:hidden;
    margin-top:15vh;
}
.slider .slides{
    width: 200vw;
    height:52vh;
    display:flex;
}
.slide1{
   
    width: 0vw;
    height:52vh;
}
.slide1 .img1{
    width:50vw;
    height:98vh;
    display: inline-block;
    margin-top:4%;

}
.slide1 .img2{
    width:38vw;
    height:50vh;
}
.slide1 .img3{
    width:38vw;
    height:38vh;
}
.constant{
    position:absolute;
    width:26vw;
    height:52vh;
    margin-left:40vw;

}
.constant h1{
    margin-top:10vh;
    color:#19e5e5;
}
.constant p{
    font-family: 'pacifico';
    margin-top:5vh;
    margin-bottom:3vh;
}
.constant .btnshopnow{
padding:4%;
color:white;
background-color:#313030;
border-radius:10px;
}

.content1{
    width:100%;
    height:30vh;
    margin-top:5vh;
    display:flex;
}
.content1 .inner1{
    width:50%;
    height:100%;
    text-align:right;
    border:1px solid #afafaf;

}
.content1  .inner1 .img1{
    width:20vw;
    height:30vh;
}
.content1 .inner2{
    width:50%;
    height:100%;
    text-align:right;
    border: 1px solid #afafaf;
    border-left:none;
}
.content1 .inner2 .img2{
    width:15vw;
    height:30vh;
}
.innertitle1{
    position:absolute;
    width:14vw;
    height:30%;
    text-align:center;
    margin-left:1%;
}
.innertitle2{
    position:absolute;
    width:20vw;
    height:30%;
    margin-left:34%;
    text-align:center;
}
.innertitle1 , .innertitle2{
    margin-top:2%;

}
.content1 h3{
    color:#04bfbf;

}
.content1 .para1{
    font-family:'pacifico';
}

.featuredpara{
    margin-top:7vh;
    margin-bottom:3vh;
    padding:2vh 66vw 1vw 4vh;
    background-color:#ececfa;
}
.morecategory a{
    margin-top:1vh;
    margin-right:220%;
    width:20px;
    margin-right:80%;
    margin-bottom:3vh;
    text-decoration: underline;
    color:red;

}
.morecategory a:hover{
    color:blue;
}
.products{
    width:68vw;
    height:58vh;
    display: flex;

}
.products fieldset{
    width:20vw;
    padding-left:1vw;
    padding:1vw;
    padding-top:2vh;
    border:1px solid #afafaf;
}
legend{
    padding:1% 1% 1% 2%;
    background-color:black;
    color:white;
}
.products .col1, .col2{
    margin-right:1vw;

}
.products .col1 .img1{
    width:15vw;
    height:35vh;
}
.products .col2 .img1{
    width:12vw;
    height:35vh;
    padding-left:14%;
}
.products .col3 .img1{
    width:15vw;
    height:35vh;
    padding-left:5%;
}
.products h3{
    padding:2vh;
    color:#04bfbf;

}
.products strike{
    font-size:1vw;
    padding-left:3%;
}
.footer{
    bottom:0px;
    width:100vw;
    height:30vh;
    padding-top:245%;
   
}
.footer .outer{
    background-color:#ececfa;
    width:100vw;
    height:
    40vh;
    display:flex;
    align-items:center;
}
.footer .inner{
    width:20%;
    height:50%;
    display:inline-block;
    margin-left:8%;
    border-right:1px solid #afafaf;
}
.footer .inner2{
    width:20%;
    height:50%;
    display: inline-block;
    margin-left:3%;
    border-right:1px solid #afafaf;
}
.footer a{
    display:block;
    padding:2%;
    color:#04bfbf;
}
.footer .copyright{
    background-color:#ececfa;

}
.footer .copyright span{
    margin-left:8vw;
}