.navigator{
    position:fixed;
    padding-top: 15px;
    padding-bottom: 10px;
    background-color: rgb(17, 36, 41);
    width:100%;
    
    
    
}
.nav ul a{
    padding-left: 30px;
    margin-left:25px;
    text-decoration:none;

  
  }